.h1__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2em;
  font-weight: 900; }

.h2__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5em;
  font-weight: 900; }

.p__info {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.85em;
  font-weight: 400; }

.p__subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.85em;
  font-weight: 100;
  font-style: italic; }

/* Mixins*/
.main__container {
  width: 100%;
  height: 25em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #eeeeee;
  border-radius: 0.5em; }

.bg {
  background: url(../img/img2/Corazon.png) repeat top/81.5px;
  background-origin: border-box;
  animation: mymove1 20s linear infinite; }

@keyframes mymove1 {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 0% 100%; } }

.bg2 {
  background: url(../img/img2/gamecolor.png) repeat top/68px;
  background-origin: border-box;
  animation: mymove2 20s linear infinite; }

@keyframes mymove2 {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 0%; } }

.main__container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #eeeeee; }

.main-container-info {
  padding: 1em;
  background-image: linear-gradient(to right, #006699, #303841);
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5em; }

.main-container-img {
  top: 150px;
  right: -20px;
  position: absolute;
  z-index: -1; }
  .main-container-img img {
    width: 200px;
    height: 200px; }

.main__container__big {
  width: 100%;
  height: 25em;
  padding-top: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: #eeeeee;
  border: 4px solid;
  border-image: linear-gradient(to bottom, #006699, #303841) 1;
  background-color: #303841; }

.mainIndexImg {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center; }
  .mainIndexImg img {
    border-radius: 0.5em; }

.mainServiceImg1 {
  background-image: url(../img/img2/disenograficopublicidad.png);
  background-size: cover;
  background-color: #eeeeee; }

.mainServiceImg2 {
  background-image: url(../img/img2/ilustracioncarros.png);
  background-size: cover;
  background-color: #eeeeee; }

.mainServiceImg3 {
  background-image: url(https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-color: #eeeeee; }

.service__container {
  width: 100%;
  height: 18em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #eeeeee;
  background-image: url(../img/fondoService1140x288.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.5em; }

.sectionInfo {
  width: 100%;
  text-align: left;
  border-radius: 0.5em; }

.sectionInfo-2 {
  width: 50%;
  text-align: left;
  border-radius: 0.5em; }

@media only screen and (max-width: 576px) {
  .sectionInfo-2 {
    width: 100%; } }

.img-carousel {
  width: 100%;
  height: 100%; }

.slider-container {
  position: relative; }
  .slider-container .slider-info {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 200px;
    padding: 1em;
    color: #eeeeee;
    background-image: linear-gradient(to right, #006699, #303841);
    border-radius: 0.5em; }

/* Portfolio  bucle works */
.portfolio-div {
  width: 100%;
  height: auto; }

.portfolio-1 {
  width: 100%;
  height: 50vh; }

.portfolio-2 {
  width: 100%;
  height: 50vh; }

@media only screen and (max-width: 576px) {
  .portfolio-2 {
    width: 25wh;
    height: 40vh; } }

/* Contact me Form */
.contact-div {
  padding: 1em;
  border: 4px solid;
  border-image: linear-gradient(to top, #006699, #303841) 1; }

.contact-container {
  width: 50%;
  height: auto;
  color: #eeeeee; }

@media only screen and (max-width: 576px) {
  .contact-container {
    width: 100%; } }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  width: 100%;
  height: auto;
  display: flex;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide img {
    width: 100%;
    height: auto; }

.header {
  height: 4em;
  background-color: #303841; }
  .header a {
    color: #eeeeee; }

.footer__container {
  height: 250px;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); }
  .footer__container .footer-divs {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .footer__container h3, .footer__container p, .footer__container a, .footer__container li {
    color: #6c757d; }

@media only screen and (max-width: 576px) {
  .footer__container {
    height: auto;
    flex-direction: column; }
    .footer__container .footer-divs {
      width: 100%;
      margin-bottom: 1em; }
    .footer__container .nav {
      display: flex;
      flex-direction: column; } }

.footer-title {
  text-align: left;
  display: flex; }
  .footer-title b {
    margin-left: 0.5em; }

.footer-rss {
  display: flex;
  text-align: left; }
  .footer-rss img {
    width: 30px;
    height: 30px;
    margin-right: 1em; }

.footer-nav {
  text-align: left;
  display: flex; }
  .footer-nav .nav {
    display: flex;
    flex-direction: column; }
  .footer-nav .nav-item {
    margin-bottom: 0.5em; }

.footer-contact {
  text-align: left;
  display: flex; }

.footer-copy {
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }

.icons {
  width: 30px;
  height: 30px;
  margin-right: 0.5em; }

.Ps {
  background-image: url("https://image.flaticon.com/icons/svg/552/552220.svg"); }

.Ai {
  width: 30px;
  height: 30px;
  background-image: url("https://image.flaticon.com/icons/svg/552/552222.svg"); }

.Id {
  width: 30px;
  height: 30px;
  background-image: url("https://image.flaticon.com/icons/svg/552/552223.svg"); }

.Vs {
  width: 30px;
  height: 30px;
  background-image: url("https://image.flaticon.com/icons/svg/906/906324.svg"); }

.Html {
  width: 30px;
  height: 30px;
  background-image: url("https://image.flaticon.com/icons/svg/226/226269.svg"); }

.Css {
  width: 30px;
  height: 30px;
  background-image: url("https://image.flaticon.com/icons/svg/732/732190.svg"); }

.block__article {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.85em;
  color: #eeeeee;
  border-radius: 0.5em;
  background-image: linear-gradient(to top, #006699, #303841); }
  .block__article .articleImg {
    width: 100%;
    height: 300px;
    border-radius: 0.25em; }
  .block__article .articleExtra {
    display: flex;
    flex-direction: column; }
  .block__article .articleIcons {
    display: flex; }

.block__article:hover {
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.2); }

.areaImg {
  display: flex;
  flex-wrap: wrap; }

/* Titulos Grandes*/
.title-1 {
  font-size: 2em; }

.title-2 {
  font-size: 4em; }

.title-3 {
  font-size: 6em; }

@media only screen and (max-width: 576px) {
  .title-1 {
    font-size: 1.25em; }
  .title-2 {
    font-size: 2.5em; }
  .title-3 {
    font-size: 3.75em; } }

/* Maps*/
.back-artearticle1 {
  background-image: url("../img/img2/tortuga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-artearticle2 {
  background-image: url("../img/img2/gameboy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-artearticle3 {
  background-image: url("../img/img2/cohans.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-artearticle4 {
  background-image: url("../img/img2/iphone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte1 {
  background-image: url("../img/img2/AmadeuPortada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte2 {
  background-image: url("../img/img2/Astronautachile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte3 {
  background-image: url("../img/img2/cohans.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte4 {
  background-image: url("../img/img2/DiaMedioAmbiente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte5 {
  background-image: url("../img/img2/Drpet001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte6 {
  background-image: url("../img/img2/Drpet002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte7 {
  background-image: url("../img/img2/Ferrari-slider-001.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.back-arte8 {
  background-image: url("../img/img2/trabajo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@keyframes content_reveal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative;
  background-color: #303841;
  font-size: 16px; }

.margin-none {
  padding: 0; }

body, html {
  animation: content_reveal 0.8s ease; }
