@import "utilities/variables";
@import "base/typo";
@import "layout/section";
@import "layout/header";
@import "layout/footer";
@import "layout/forms";
@import "utilities/icons";
@import "layout/articles";
@import "utilities/interpolations";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  position: relative;
  background-color: $color-cultured;
  font-size: $font-size;
}
body, html {
  animation: content_reveal 0.8s ease;
}
.container-fluid {
  padding: 0;
}
